<div class='field'>
  <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
    <ul id='page_parts'>
      <% tabbed_fields.each_with_index do |field, index| %>
        <li class="ui-state-default <%= 'ui-state-active' if index == 0 %>">
          <%= link_to "#{field.to_s.humanize}", "\##{field}" %>
        </li>
      <% end %>
    </ul>

    <div id='page_part_editors'>
      <% tabbed_fields.each do |field| %>
        <div class='page_part' id="<%= field %>">
          <%= render :partial => "/refinery/admin/projects/tabs/#{field.to_s}", :locals => { :f => f, :field => field} %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script>
    $(document).ready(function(){
      if (!page_options.initialised) {
        page_options.init(false, '', '');
      }
    });
  </script>
<% end %>
